article div img {
    float: left;
    margin-right: 20px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #765453;
    color: white;
}
 article div {
     text-align: center;
 }